:host {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-container {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.sliding-background {
  background-size: contain !important;
  background: url("assets/main-wallpaper.jpg") repeat-x;
  height: 100%;
  width: 300%; /* The image width times 3 */
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0); /* The image width */
  }
}

.container {
  padding: 15px;
  position: relative;
  z-index: 3;
  height: 100%;
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background img {
  object-fit: cover;
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.background .cover {
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}