<div class="fill-parent center-content">
  <div id="form-login" class="form-login">
    <div class="loader-container">
      <div id="loader" class="loader">Loading...</div>
    </div>
    <img id="company-logo" [src]="avatar">
    <div id="login-fields" class="login-fields">
      <input type="text" name="username" [(ngModel)]="credentials.username" (ngModelChange)="usernameChanged()" placeholder="Username">
      <input type="password" name="password" [(ngModel)]="credentials.password" placeholder="Password">
      <button type="button" name="submit" (click)="login()">Login</button>
    </div>
  </div>
</div>
