@import "../../scss/all.scss";

:host {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  width: 400px;
  height: 200px;
  transition: height 0.25s ease-in;
  background-color: $offwhite;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 12px 3px #000;
}

.form-login-open {
  height: 380px;
  transition: height 0.25s ease-in;
}

.form-login img {
  height: 150px;
  object-fit: contain;
}

.login-fields {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-fields input {
  border-radius: 7px;
  border: solid 1px $offblack;
  background-color: $offwhite;
  font-size: 1.2em;
  color: $offblack;
  text-align: center;
  margin-top: 20px;
  padding: 7px 15px;
  box-shadow: 2px 2px 6px 3px #ccc;
}

.login-fields button {
  background-color: $offblack;
  border: none;
  border-radius: 7px;
  font-size: 1.2em;
  padding: 7px 20px;
  margin-top: 20px;
  color: $offwhite;
  box-shadow: 2px 2px 6px 3px #ccc;
  transition: all 0.2s ease-in-out;
}

.login-fields button:hover {
  background-color: darken($primary-color, 5%);
  cursor: pointer;
}