/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  margin: 0;
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
}

.translucent-card {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  overflow: hidden;
}

.fill-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
